{% extends "shopping/layout.html" %}

{% block title %}
SuShee Fashionista
{% endblock %}

{% block body %}

<hr>

<div class="container">
  <div>
    <a class="menubtn" id="kurta" href="#">Kurtas</a>
    <a class="menubtn" id="top" href="#">Tops</a>
    <a class="menubtn" id="trouser" href="#">Trousers</a>
    <a class="menubtn" id="saree" href="#">Sarees</a>
  </div>
</div>

<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container" id="dkurta">
    </div>
    <div class="container" id="dtop">
    </div>
    <div class="container" id="dtrouser">
    </div>
    <div class="container" id="dsaree">
    </div>
  </form>
</div>

<!-- recently added -->
<div class="container" id="recent1">
  <div class="container recentdiv" data-dresstype="kurta"></div>
  <div class="container recentdiv" data-dresstype="top"></div>
  <div class="container recentdiv" data-dresstype="trouser"></div>
  <div class="container recentdiv" data-dresstype="saree"></div>
</div>

<!-- handlebars -->
{% verbatim %}
<script id="select_template" type="text/x-handlebars-template">
  <div id="d{{vartype}}" class="form-group div_order" data-dresstype="{{dresstype}}">
    <label for="s{{vartype}}">{{vartype}}</label>
    <select id="s{{vartype}}" class="form-control select_order" name="{{vartype}}" data-dresstype="{{dresstype}}">
      <option value="" selected disabled>Select {{vartype}}</option>
      {{#each varlist}}
        {{#strincludes ../vartype 'color'}}
          <option value="{{@key}}" name="{{this}}"  style="color:{{@key}}">&#9673; {{this}}</option>
        {{else}}
        <option value="{{@key}}" name="{{this}}">{{this}}</option>
        {{/strincludes}}
      {{/each}}
    </select>
  </div>
</script>
<!-- <script id="span_template" type="text/x-handlebars-template">
  <span id="span_{{vartype}}" name="span_{{vartype}}" class="cspan" value=""></span>
</script> -->
<script id="input_template" type="text/x-handlebars-template">
  <div class="form-group">
    <input type="number" id="p_{{dresstype}}" name="p_{{dresstype}}" class="price" min="0" max="9999" value="0" step=".01"/>
    <input type="hidden" id="dresstype" name="dresstype" value="{{dresstype}}"/>
  </div>
</script>
<script id="input_text_template" type="text/x-handlebars-template">
  <div class="form-group">
    <label for="t_{{vartype}}">{{vartype}}</label>
    <input type="text" id="t_{{vartype}}" name="t_{{vartype}}" class="t{{dresstype}}"/>
  </div>
</script>
<script id="input_image_template" type="text/x-handlebars-template">
  <div class="form-group">
    <label for="i_{{vartype}}">{{vartype}}</label>
    <input name="i_{{vartype}}" id="i_{{vartype}}" name="i_{{vartype}}"  class="i{{dresstype}}" type="file" size="50" accept="image/*" multiple />
    <button type="button" class="btn btn-default btn_clear">clear</button>
  </div>
</script>
<script id="addbtn_template" type="text/x-handlebars-template">
  <div class="form-group">
    <button type="submit" class="btn btn-primary add_item" id="btn_{{dresstype}}" data-dresstype="{{dresstype}}" data-todo="add" name="images">Add item</button>
  </div>
</script>

<script id="recent_template" type="text/x-handlebars-template">
  <div class="form-group">
    <h3>{{dresstype}}</h3>
    <div class="flexdisplay">
      {{#each dressdata}}
        <div>
           {{#each ../image}}
            {{#strequals this.pk ../this.fields.image.[0]}}
              <a href="{{../../dresstype}}/{{../this.pk}}"><img src="/media/{{this.fields.document}}" alt="{{this.fields.document}}"/></a>
            {{/strequals}}
           {{/each}}
          <br>
          <p>
            <span class="rdressname">{{this.fields.name}}</span>
            <span class="rdressprice">({% endverbatim %}{{currency}}{% verbatim %}{{this.fields.price}})</span>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</script>

{% endverbatim %}
<!--  -->
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // register
    Handlebars.registerHelper('strincludes', function(a, b, opts) {
      if (a.includes(b)) {
          return opts.fn(this);
      } else {
          return opts.inverse(this);
      }
    });
    Handlebars.registerHelper('strequals', function(a, b, opts) {
      if (a == b) {
          return opts.fn(this);
      } else {
          return opts.inverse(this);
      }
    });

    // handlebars templates
    select_template = Handlebars.compile(document.querySelector('#select_template').innerHTML);
    // span_template = Handlebars.compile(document.querySelector('#span_template').innerHTML);
    input_template = Handlebars.compile(document.querySelector('#input_template').innerHTML);
    input_text_template = Handlebars.compile(document.querySelector('#input_text_template').innerHTML);
    input_image_template = Handlebars.compile(document.querySelector('#input_image_template').innerHTML);
    addbtn_template = Handlebars.compile(document.querySelector('#addbtn_template').innerHTML);
    recent_template = Handlebars.compile(document.querySelector('#recent_template').innerHTML);

    // dress anchors
    document.querySelectorAll('.menubtn').forEach(anchor => {
      const anchor_div = document.querySelector('#d' + anchor.id);
      anchor_div.style.display = "none";
      anchor.onclick = () => {

        dresstype = anchor.id;

        // adding dresslist
        dressobj_dict = {}
        // dressobj_dict = {"color" : {{color|safe}}}

        // dressobj_dict
        if(anchor.id === "kurta"){
          // dressobj_dict = {"kurtasize" : {{kurtasize|safe}}}
          dressobj_dict["kurtacolor"] = {{color|safe}}
          dressobj_dict["kurtasize"] = {{kurtasize|safe}}
        } else if(anchor.id === "top"){
          dressobj_dict["topcolor"] = {{color|safe}}
          dressobj_dict["topsize"] = {{topsize|safe}}
        } else if(anchor.id === "trouser"){
          dressobj_dict["trousercolor"] = {{color|safe}}
          dressobj_dict["trousersize"] = {{trousersize|safe}}
        } else if(anchor.id === "saree"){
          dressobj_dict["sareecolor"] = {{color|safe}}
          dressobj_dict["sareesize"] = {{sareesize|safe}}
        }

        // create elements
        add_dress(dresstype, dressobj_dict);

        // removing divs
        document.querySelectorAll('.menubtn').forEach(item => {
          document.querySelector('#d' + item.id).style.display = "none";
        });
        anchor_div.style.display = "block";
      };
    });

    // recently_added
    image = {{image|safe}}
    recently_added = {{recently_added|safe}}
    document.querySelectorAll('.recentdiv').forEach(item => {
      item.innerHTML += recent_template({"dresstype" : item.dataset.dresstype, "dressdata" : recently_added[item.dataset.dresstype], "image" : image});
    });
  });
  // end of contentloaded

  function add_dress(dresstype, dressobj_dict){
    const ddresstype = document.querySelector('#d' + dresstype);
    ddresstype.innerHTML = "";

    // input name
    ddresstype.innerHTML += input_text_template({"dresstype" : dresstype, "vartype" : dresstype + "name"});

    // model
    ddresstype.innerHTML += input_text_template({"dresstype" : dresstype, "vartype" : dresstype + "model"});

    // add images
    ddresstype.innerHTML += input_image_template({"dresstype" : dresstype, "vartype" : dresstype + "image"});

    // dress categories
    dressobj_list = Object.keys(dressobj_dict);
    dressobj_list.forEach(index => {
      var varlist = {};
      dressobj = dressobj_dict[index];
      dressobj.forEach(p => {
        if(index.match("size$")){
          varlist[p.pk] = p.fields.size;
        } else if(index.match("color$")){
          varlist[p.fields.code] = p.fields.name;
        }
      });
      ddresstype.innerHTML += select_template({"dresstype" : dresstype, "vartype" : index, "varlist" : varlist});
    });

    // add size input hidden
    ddresstype.innerHTML += input_text_template({"dresstype" : dresstype, "vartype" : dresstype + "size"})

    // add price
    ddresstype.innerHTML += input_template({"dresstype" : dresstype});

    // add button
    ddresstype.innerHTML += addbtn_template({"dresstype" : dresstype})

    // clear selection
    document.querySelectorAll('.btn_clear').forEach(button => {
      button.onclick = () => {
        button.parentElement.querySelector('input[type=file]').value = null;
      }
    });

    // init choices before changes
    const btn_dresstype = document.querySelector('#btn_' + dresstype);
    btn_dresstype.disabled = true;

    // onchange events
    dressname = document.querySelector('#t_' + dresstype + 'name');
    dressmodel = document.querySelector('#t_' + dresstype + 'model');
    dresssize = document.querySelector('#s' + dresstype + 'size');
    dresssizeinput = document.querySelector('#t_' + dresstype + 'size');
    dresscolor = document.querySelector('#s' + dresstype + 'color');
    dressimage = document.querySelector('#i_' + dresstype + 'image');
    dressprice = document.querySelector('#p_' + dresstype);
    dressadd = document.querySelector('#btn_' + dresstype);

    // multiple size input
    dresssize.multiple = true;
    dresssizeinput.parentElement.style.display = "none";
    [dressname, dressmodel, dresssize, dresscolor, dressimage, dressprice].forEach(event => {
      event.oninput = () => {
        if(event === dresscolor){
          event.style.color = event.value;
        } else if (event === dresssize){
          size_pk = []
          for(i=0;i<dresssize.selectedOptions.length;i++){
            size_pk.push(dresssize.selectedOptions[i].value);
          }
          document.querySelector('#t_' + event.dataset.dresstype + "size").value = size_pk;
        }
        button_status();
      }
    });
  };

  function button_status(){
    if(
      dressname.value.length > 0 && dressmodel.value.length > 0 && dresssize.selectedIndex > 0 &&  dresscolor.selectedIndex > 0 && dressimage.files.length > 0 && dressprice.value > 0) {
        dressadd.disabled = false;
      } else {
        dressadd.disabled = true;
      }
  }
</script>

{% endblock %}
