{% extends "shopping/layout.html" %}

{% block title %}
SuShee Fashionista
{% endblock %}

{% block body %}
<hr>
{{trouserrate}}
<div class="container">
  <div>
    <a class="menubtn" id="kurta" href="#">Kurtas</a>
    <a class="menubtn" id="top" href="#">Tops</a>
    <a class="menubtn" id="trouser" href="#">Trousers</a>
    <a class="menubtn" id="saree" href="#">Sarees</a>
  </div>
</div>

<div class="container flexdisplay" id="dkurta">
  {%for kurta in kurtarate %}
  {% endfor %}
</div>
<div class="container flexdisplay" id="dtop">
</div>
<div class="container flexdisplay" id="dtrouser">
</div>
<div class="container flexdisplay" id="dsaree">
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  });
</script>

{% endblock %}
