{% extends "shopping/layout.html" %}

{% block title %}
SuShee Fashionista
{% endblock %}

{% block body %}
<hr>

<div class="container">
  <!-- name -->
  <div>
    <h3>Name (Model)</h3>{{dress.name}} ({{dress.model}})
  </div>
  <!-- image -->
  <div id="ind_images">
    <h3>Images</h3>
    {% for image in dress.image.all %}
      <div>
        <img src="{{image.document.url}}" alt="{{image}}"/>
      </div>
    {% endfor %}
  </div>
  <!-- color -->
  <div>
    <h3>Color</h3>
    {% for dresscolor in dresscolor_obj %}
      <div class="form-check form-check-inline">
        {% if dress.image.first.color.code == dresscolor.image.first.color.code %}
          <!-- <a href="/{{dresscolor.dresstype}}/{{dresscolor.pk}}" style="color:{{dresscolor.image.first.color.code}};text-decoration: none !important;border-style: solid;border-color:black;">&#9673;<a> -->
          <a href="{% url 'dressitem' dresscolor.dresstype dresscolor.pk %}" style="color:{{dresscolor.image.first.color.code}};text-decoration: none !important;border-style: solid;border-color:black;">&#9673;<a>
        {% else %}
          <a href="{% url 'dressitem' dresscolor.dresstype dresscolor.pk %}" style="color:{{dresscolor.image.first.color.code}};text-decoration: none !important;">&#9673;<a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- size -->
  <div>
    <h3>Size</h3>
    {%for size in dresssize %}
      <div class="form-check form-check-inline">
      {% if size in dress.size.all %}
        {% if size == dress.size.all.0 %}
          <input class="form-check-input" type="radio" name="sizeinput" id="option{{size}}" value="{{size.pk}}" checked>
        {% else %}
          <input class="form-check-input" type="radio" name="sizeinput" id="option{{size}}" value="{{size.pk}}">
        {% endif %}
        <label class="form-check-label" for="option{{size}}"><b>{{size}}</b></label>
      {% else %}
        <input class="form-check-input" type="radio" name="sizeinput" id="option{{size}}" value="{{size.pk}}" disabled>
        <label class="form-check-label" for="option{{size}}">{{size}}</label>
      {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- price -->
  <div>
    <h3>Price</h3>
    {{currency}}{{dress.price}}
  </div>
  <!-- Add to cart -->
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="dresstype" value="{{dress.dresstype}}"/>
      <input type="hidden" name="dresspk" value="{{dress.pk}}"/>
      <input type="hidden" name="todo" value="add"/>
      <input type="hidden" name="sizepk" id="dressize_input" value=""/>
      <button type="submit" class="btn btn-primary add_to_cart" name="add_to_cart">Add to cart</button>
    </form>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const dresssize_options = document.querySelectorAll('[name=sizeinput]');
    const dresssize_input = document.querySelector('#dressize_input');

    dresssize_options.forEach(item => {
      // get size init
      if (item.checked) {
        dresssize_input.value = item.value;
      }

      // oninput
      item.oninput = () => {
        if (item.checked) {
          dresssize_input.value = item.value;
        }
      }
    });




  });
</script>

{% endblock %}
