{% extends "shopping/layout.html" %}

{% block title %}
SuShee Fashionista
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 side-menu" id="skipsidemenu0">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link dressbtnlayout"id="menu_kurta" data-id="kurta" href="#">Kurtas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dressbtnlayout" id="menu_saree" data-id="saree" href="#">Sarees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dressbtnlayout" id="menu_top" data-id="top" href="#">Tops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dressbtnlayout" id="menu_trouser" data-id="trouser" href="#">Trousers</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-9">
{% if status %}
  {% if status == "success" %}
    <h1 style="color:black">Payment Sucessful</h1>
  {% else %}
    <h1 style="color:black">Payment Failed</h1>
    <p>{{status}}</p>
  {% endif %}
{% endif %}

<div class="container">
{% for placed_order in placed_orders %}
  <div>
    <h5>{{placed_order.datetime}}</h5>
      {% for order in placed_order.order.all %}

        {% if order.dresstype == "kurta" %}
          {% for kurta in kurtarate %}
            {% if kurta.pk == order.dresspk %}
              <a class="historyimg" href="{% url 'dressitem' kurta.dresstype kurta.pk %}"><img src="{{kurta.image.first.document.url}}" /></a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if order.dresstype == "top" %}
          {% for top in toprate %}
            {% if top.pk == order.dresspk %}
              <a class="historyimg" href="{% url 'dressitem' top.dresstype top.pk %}"><img src="{{top.image.first.document.url}}" /></a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if order.dresstype == "trouser" %}
          {% for trouser in trouserrate %}
            {% if trouser.pk == order.dresspk %}
              <a class="historyimg" href="{% url 'dressitem' trouser.dresstype trouser.pk %}"><img src="{{trouser.image.first.document.url}}" /></a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if order.dresstype == "saree" %}
          {% for saree in sareerate %}
            {% if saree.pk == order.dresspk %}
              <a class="historyimg" href="{% url 'dressitem' saree.dresstype saree.pk %}"><img src="{{saree.image.first.document.url}}" /></a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    <p>Status: {{placed_order.status}}</p>
    <p>Total: {{currency}}{{placed_order.total}}</p>
{% empty %}
    <h4>No previous orders</h4>
{% endfor %}
</div>
</div>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  });
</script>

{% endblock %}
