{% extends "shopping/layout.html" %}

{% block title %}
SuShee Fashionista
{% endblock %}

{% block body %}
<div class="container">
  <div class="login">
  <h1>Login</h1>
  {% if message %}
  <div>
    {{ message }}
  </div>
  {% endif %}
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input class="form-control" name="username" type="text" placeholder="User Name" autofocus/>
      <input class="form-control" name="password" type="password" placeholder="Password"/>
      <button class="btn btn-primary btn-block btn-large" type="submit" value="Login"/>Login</button>
    </form>
  </div>
</div>
{% endblock %}
